<ion-header>
  <ion-navbar>
    <ion-title text-center>HOME</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding style="background-color:#aceace">
  <div text-center>
    <ion-img width=150px height=150px style="background-color:#aceace" src="assets/imgs/leaf-logo.png"></ion-img>
    <h2>Willkommen zu <span style="color:green">Project Green</span>!</h2>
    <p>
      Unsere App dient in erster linie dazu Pflanzen zu bestimmen welche dir umbekannt erscheinen.<br>Dies kannst du im Tab <b>Bestimmen</b>!
    </p>
    <p>
      Du kannst dir aber auch ein sogenanntes "Digitales Herbarium" erstellen, indem du Profile für deine gefundenen Pflanzen anlegst.<br>Schaue dir dazu dein <b>Profil</b> an!
    </p>
    <p>
      Willst du eifach in unserer Pflanzen-Datenbank stöbern?<br>Schau dir den Tab <b>Lexikon</b> an!
    </p>
  </div>
  <!-- Contains test for database-service
    <ion-list>
    <ion-item class="text" *ngFor="let item of accounts | async">
      name: {{item.name}},id: {{item.id}},desc: {{item.desc}}
    </ion-item>
    <ion-item class="text" *ngFor="let item of blossomcolor | async">
      {{item.id}},{{item.name}},{{item.color}}
    </ion-item>
    <ion-item class="text" *ngFor="let item of plantgroup | async">
      {{item.id}},{{item.name}},{{item.desc}}
    </ion-item>
    <ion-item class="text" *ngFor="let item of plantsubgroup | async">
      {{item.id}},{{item.name}},{{item.desc}}
    </ion-item>
  </ion-list>
  -->
</ion-content>
